body{
	color: #0099cc;
}
.hide{
	display: none;
}
.clearFloats{
	clear: both;
}
.usernameContainer{
	float: left;
}
.usernameInput{
	float: left;
}
.usernameError{
	float: left;
}
.passwordContainer{
	float: left;
}
.passwordInput{
	float: left;
}
.passwordError{
	float: left;
}
.red{
	color: red;
}